<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <style>
        *{
        margin: 0;
        padding: 0;
        }

        body{
        width: 90%;
        margin: 30px auto;
        color: #111;
        }

        ul,ol,li{
        list-style: none;
        }

        a{
        text-decoration: none;
        color : #111;
        }

        h2+h3{
        font-weight: 500;
        color: #999;;
        }

        h3{
        margin-bottom: 4px
        }

        p{
        color : #999;
        }
    </style>
</head>
<body>
<h2>Main Page</h2>
<br/><hr/><br/>
<h3>문제1</h3>
<a href="/articles/main">🤍Main</a><br/>
<a href="/articles/list">🤍전체 게시글 읽기 성공</a><br/>
<a th:with="id=7"  th:href=@{|/articles/${id}|}>🤍7번 게시글 읽어오기 성공</a><br/>
<a href="/articles/create?name=tom&height=180&weight=80">🤍톰의 키는 180, 몸무게는 80 입니다.</a><br/>
<a href="/articles/update">🤍업데이트 성공 화면 출력</a><br/>
<a href="/articles/7/update">🤍7번 게시글 수정 폼 로딩 완료</a><br/>
<a href="/articles/3/delete">🤍3번 글 삭제 완료</a><br/>
<a href="/articles/11/articleComment">🤍11번 게시글의 모든 댓글보기 성공</a><br/>
<a href="/articles/15/articleComments/3/delete">🤍15번 게시글의 3번째 답글 삭제 완료</a><br/>
<br/><hr/><br/>
<h3>문제2</h3>
<a href="/gugudan">🤍구구단</a><br/>
<a href="/itemlist">🤍아이템 리스트</a><br/>
</body>
</html>